header{
    
    .header{
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        align-items: center;
        padding: 0 $space-12;
        box-shadow: $section-shadow;
        .menuIcon{
            color: $text;
            font-family: serif;
            font-size: $font-2xl;
            font-weight: $weight-bold-ultra;
            transition: all $transition-normal;
            cursor: pointer;
            &:hover{
                scale: $scale-normal;
            }
        }
        .mainNav{
            margin: auto;
            ul{
                gap: $space-8;
                li{
                    padding: $space-4 0;
                    a{
                        display: inline-block;
                        color: $text;
                        font-size: $font-xl;
                        transition: $transition-normal;
                        width: 100%;
                        &::after{
                            content: "";
                            display: block;
                            margin: auto;
                            width: 0%;
                            height: 1px;
                            background: $text;
                            transition: $transition-normal;
                        }
                        &:hover{
                            scale: $scale-low;
                            color: $text-secondary;
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .langNav{
            background-color: $shadow-color;
            border: 1px solid $border;
            border-radius: 1rem;
            margin-right: $space-8;
            ul{
                gap: $space-3;
                li{
                    border-radius: 50%;
                    font-size: small;
                    transition: $transition-normal;
                    a{
                        display: inline-block;
                        width: 100%;
                        padding: 0.5rem 0.7rem;
                        transition: all $transition-normal;
                        color: inherit;
                    }
                    &.isselect{
                        background-color: $bg;
                    }
                    &:hover{
                        background-color: $bg-secondary;
                        a{
                            scale: $scale-low;
                        }
                    }
                }
            }
        }
        button{
            background: none;
            border: none;
            color: $text;
            background-color: $shadow-color;
            border-radius: 2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: $space-2 $space-6;
            cursor: pointer;
            transition: all $transition-normal;
        }
    }
}